bin
build
tmp

__pycache__
.directory
.qmake.cache
.qmake.cache
.qmake.stash
.vs
.#*
.*.swp
CMakeLists.txt.user*
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db

*_pch.h.cpp
*_resource.rc
*~
*.*#
*.autosave
*.a
*.app
*.d
*.core
*.deb
*.Debug
*.debug
*.dll
*.dylib
*.exe
*.flc
*.gz
*.ib_pdb_index
*.idb
*.ilk
*.moc
*.ncb
*.o
*.obj
*.opensdf
*.orig
*.pdb
*.pem
*.prl
*.pro.user*
*.pyc
*.qm
*.rc
*.rej
*.Release
*.res
*.rpm
*.sdf
*.so
*.so.*
*.suo
*.tar
*.tgz
*.tmp
*vcproj.*.*.user
*vcxproj.*
*.zip
